{% extends 'main.html' %}
<html>
    <body>
        {% block mycontent %}
    <div class="container">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body ">
                    <div class="text-right"> <i class="fa fa-close close" data-dismiss="modal"></i> </div>
                    <h2 class="mt-5 theme-color">Thanks for your order</h2>
                    {% for i in payobj %}
                    <div class="px-1 py-3">

                        <h5 class="text-uppercase">Welcome {{i.customerid.Name}}</h5>
                        
                        <span class="theme-color">Your Order Details</span>
                        <div class="mb-3">
                            <hr class="new1">
                        </div>

                        <div class="d justify-content-between">
                            <span class="font-weight-bold">Product name : {{i.productid.Name}}</span><br>
                            <span class="font-weight-bold">Quantity : {{i.quantity}}</span><br>
                            <span class="font-weight-bold">Transaction Id : {{i.paymentid.transactionid}}</span><br>
                            <span class="font-weight-bold">Orderno : {{i.ordernumber}}</span><br>
                        </div>

                        <div class="d-flex justify-content-between mt-3">
                            <span class="font-weight-bold">Total Amount Paid : </span>
                            <span class="font-weight-bold theme-color">Rs. {{i.totalprice}}</span>
                        </div>
                       
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>


