{% extends 'main.html' %}
<html>
<body>
    {% block mycontent %}
<div class="container" style="padding-top: 30px;">
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-white">Your cart summary</span>
          <span class="badge bg-white rounded-pill">3</span>
        </h4>
        {% for i in petobj %}
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Name : {{i.productid.Name}}</h6>
              <small class="text-muted">Quantity : {{i.quantity}}</small><br>
              <small class="text-muted">Total : {{i.totalamount}}</small>
            </div>
            <span class="text-muted"><img style="object-fit: cover; object-position: center; width: 100px; height: 100px; padding: 10px;" class="pic" src="{{i.productid.Image.url}}" alt=""></span>
          </li>
          {% endfor %}
          <li class="list-group-item d-flex justify-content-between">
            <span>Total Bill : </span>
            <strong>Rs. {{totalbill}}</strong>
          </li>
        </ul>

        
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3" style="color: white;">Billing address</h4>
        <form method="POST" action="{% url 'payment' %}">
          {% csrf_token %}
          <div class="row g-3">
            <div class="col-12">
              <label for="Name" class="form-label" style="color: white;">Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="name" value="" required="" name="name">
              <div class="invalid-feedback">
                Valid name is required.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label" style="color: white;">Address</label>
              <input type="text" class="form-control" id="address" placeholder="street" required="" name="address">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="col-md-5">
              <label for="city" class="form-label" style="color: white;">City</label>
              <input type="text" class="form-control" id="city" placeholder="city" required="" name="city">
              <div class="invalid-feedback">
                Please select a valid city.
              </div>
            </div>

            <div class="col-md-5">
              <label for="state" class="form-label" style="color: white;">State</label>
              <input type="text" class="form-control" id="state" placeholder="state" required="" name="state">
              <div class="invalid-feedback">
                Please select a valid state.
              </div>
            </div>

            <div class="col-md-4">
              <label for="country" class="form-label" style="color: white;">Country</label>
              <input type="text" class="form-control" id="country" placeholder="country" required="" name="country">
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

            <div class="col-md-3">
              <label for="pincode" class="form-label" style="color: white;">Pincode</label>
              <input type="text" class="form-control" id="pincode" placeholder="pincode" required="" name="pincode">
              <div class="invalid-feedback">
                Pincode code required.
              </div>
            </div>

            <div class="col-md-5">
              <label for="phoneno" class="form-label" style="color: white;">PhoneNo</label>
              <input type="text" class="form-control" id="phoneno" placeholder="phoneno" required="" name="phoneno">
              <div class="invalid-feedback">
                Please select a valid phone number.
              </div>
            </div>
            
          </div>

          <h4 class="mb-3" style="color: white;">Payment</h4>

          <div class="my-3">
            <div class="form-check">
              <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="paypal" style="color: white;">PayPal</label>
            </div>
            <div class="form-check">
              <input id="cod" name="paymentMethod" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="cod" style="color: white;">Cash On Delivery</label>
            </div>
          </div>

          <hr class="my-4">

          <center><button class="p-3 mb-2 bg-light text-dark" type="submit" style="color: white; margin: 18px; border-color: #e53935; border-radius:10px; box-shadow: 0px 0px 2px 2px #c51162;">Proceed for Payment</button></center>
        </form>
      </div>
    </div>


  
</div>


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

      <script src="form-validation.js"></script>
{% endblock %}
</body>
</html>